/*
  nesedí odsazení, nastaveno je na 2 mezery (viz .editorconfig a mnou vytvořené soubory)
  Chybí prázdný řádek na konci souboru
*/
body, html {
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fabb00;
}

.center-text {
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.agency {
    color: #e4003a;
}

.student {
    color: #004f9f;
}

/*
    Nevidím to v kódu
*/
.item {
    width: 30%;
    margin: 1em;
}