body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fabb00;
}

.item {
    width: 30%;
    margin: 1em;
}
